:root {
    /* fonts */
    --font_title: 'Sacramento', cursive;
    --font-headings: 'Montserrat Alternates', sans-serif;
    --font_parag:'Montserrat', sans-serif;

    /* Colors */
    --color_grenat: #590D22;
    --color_grenat_move: #4C3347;
    --color_beige: #FEF4EA;
    --color_dark: #685B65;
    --color_pink: #DD7E7C;
    --color_pink2: #F9C4BA;
    --color_pink_light: #EDCDBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font_parag);
    color: var(--color_dark);
}

header {
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--font-headings);
    background-color: var(--color_grenat_move);

}

header a {
    color: var(--color_beige) !important;
}

header a:hover {
    color: var(--color_pink) !important;
    transform: translateY(-3px);
}

header .navbar-brand {
    font-family: var(--font_title);
    color: var(--color_beige);
    font-size: 2em;
}

header .social_media {
    width: 30%;
    margin-left: 10%;
    text-align: end;
}

header .social_media a {
    padding: 12px;
    color: var(--color_beige);
    font-size: 1.5em;
}

header .active {
    color: var(--color_pink) !important;
    transform: translateY(-3px);
}


/* Section Titles */
.section_title {
    height: 20vh;
}

.section_title .title {
    font-family: var(--font-headings);
    text-align: center;
    color: var(--color_pink);
    position: relative;
    height: fit-content;
}

.section_title .sub_tit {
    position: absolute;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 0;
    font-size: 6em;
    opacity: 0.5;
    letter-spacing: 50px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: var(--color_pink2);
    text-align: center;
    text-transform: uppercase;
}

/* main section */
/* hero section */
#hero .video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#hero .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero {
    height: 100vh;
    border-radius: 15px;
    text-align: center;
    color: var(--color_pink_light);
    font-family: var(--font-headings);
}

#hero .content {
    margin-left: 30px;
}

#hero h1 {
    font-family: var(--font_title);
    font-size: 6em;
    text-transform: capitalize;
    color: var(--color_pink);
}

#hero .titles {
    font-family: var(--font-headings);
    font-size: 1.3em;
}

#hero a {
    width: 20vw;
    margin: auto;
    background-color: var(--color_pink);
    color: var(--color_beige);
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px;
    font-size: 1.5em;
    font-family: var(--font-headings);
    letter-spacing: 1.2px;
}

#hero a:hover {
    background-color: var(--color_beige);
    color: var(--color_pink);
}

#hero .titles {
    text-decoration: underline;
}

#hero .about_me {
    background-color: none !important;
}

#hero .btn-down {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    /* margin-top: 10%; */
    text-decoration: none;
    animation: buttonAnimationDown 3s infinite;

}

#hero .btn-down i {
    border: 2px solid var(--color_beige);
    border-radius: 50%;
    padding: 12px 12px;
}

#hero .btn-down:hover {
    color: var(--color_beige);
}


/* goto button */
#goTop a {
    background-color: var(--color_pink);
    border-color: var(--color_pink) !important;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--color_beige);
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
}

#goTop a {
    color: var(--color_beige);
    text-decoration: none;
}

#goTop:hover {
    background-color: var(--color_grenat_move);
    border-color: var(--color_pink) !important;
}

/* about me section */
#about_me .my_profile {
    margin-left: 2%;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 0.89em;
    font-family: cursive;
    text-align: justify;
    line-height: 2;
}

#about_me .my_profile h3 {
    color: var(--color_pink);
}

#about_me .my_profile img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 4%;
}

#about_me .my_profile table {
    margin-left: 5%;
    font-family: 'Times New Roman', Times, serif;
}

#about_me .my_profile table td:first-child {
    color: var(--color_grenat_move);
    font-family: var(--font-headings);
    font-weight: 700;
}

#about_me .profile_content {
    margin-left: 6%;
    background-color: #312e2e;
    color: #fff;
    font-family: "Consolas", "Courier New", monospace;
    ;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 0.89em;
    text-align: justify;
    line-height: 2;
}

#about_me .profile_content .line-number {
    color: var(--color_dark);
}

#about_me .profile_content .imp {
    color: var(--color_pink);
}







/* about section */
#about {
    line-height: 2;
}

#about .experiences {
    width: 33%;
    margin: auto;
}

#about .experience {
    width: 150px;
    height: 150px;
    background-color: #4C3347;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 2%;
    color: var(--color_beige);
    margin-left: 3%;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
}

#about .experience:first-child {
    background-color: var(--color_grenat);
}

#about .experience:nth-child(2) {
    background-color: var(--color_pink);
    margin-left: calc(150px + 3%);
}

#about .experience h3 {
    font-size: 3em;
}

#about .content {
    padding-left: 2%;
}

#about .content span {
    color: var(--color_pink);
    font-family: var(--font_title);
    font-size: 2.5em;
}

/* skills section */
#skills {
    height: fit-content;
    background-color: var(--color_grenat_move);
    padding-bottom: 4%;
}

#skills .content_div1 {
    margin: auto;
    font-family: var(--font-headings);
}

#skills  h2 {
    margin-bottom: 7%;
    color: var(--color_beige);
}
#skills .box{
    background-color: var(--color_beige);
    margin: 2px;
    width: 85px;
    height: 85px;
    color: var(--color_dark);
    display: flex;
    justify-content: center;
    align-items: center;

}
#skills .box p{
    transform: rotate(45deg);
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: .65rem;
    font-weight: 600;
}

#skills .box i{
    font-size: 3rem;
    color: var(--color_pink);
}


#skills button {
    color: var(--color_beige);
    margin-left: 10px;
    margin-bottom: 1%;
    border: none;
    background-color: var(--color_grenat_move);
}

#skills .active {
    color: var(--color_pink);
}

#skills .programming {
    display: flex;
    justify-content: center;
    width: 80vw;
}

#skills .skills_content img {
    max-width: 120px;
    max-height: 120px;
}

#skills .skills_content img:hover {
    transform: scale(1.2);
}

#skills #myTab {
    width: 80%;
    margin: auto;
}

#skills .skill {
    width: 80%;
    margin: auto;
    font-family: var(--font-headings);
    color: var(--color_pink);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
#skills .skill img{
    width: 100%;
    aspect-ratio: calc(3/2) !important;
    object-fit: contain;
}





/* Portfolio */
#portfolio .content{
    font-size: 16px;
    font-family: var(--font-headings);
}
#portfolio .content .card {
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ccc;
    width: 100%;
    overflow: hidden;
}

#portfolio .content .card .card-header {
    position: relative;
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#portfolio .content .card .card-header:hover {
    cursor: pointer;
    animation: 11s autoScroll ease-out;
}

#portfolio .card-bottom {
    background-color: var(--color_pink);
    border-radius: 0 0 .5rem .5rem;
    color: #fff;
    width: 100%;
}

#portfolio .card-bottom .read-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
}

#portfolio .card-bottom .read-more p {
    margin: 0;
    font-size: 1rem;
}

#portfolio .card-bottom .read-more i {
    font-size: 1.3rem;
    animation: up 1s infinite;
}

#portfolio .card-body {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100%;
    transition: all 1s;
    top: 100%;
    border-radius: .5rem;
    margin-top: 100px;
    display: flex;
    background-color: var(--color_grenat_move);
    
}

#portfolio .card-body .card-body-box {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    background-color: #fff;
    border-radius: .5rem;
}

#portfolio .card-body .card-body-title {
    font-size: 1.2rem;
    margin-bottom: .7rem;
    color: var(--color_pink);
    text-align: center;
}

#portfolio .card-body .card-body-description {
    font-size: 0.8rem;
    color: var(--color_dark);
}

#portfolio .card-body .card-body-keys {
    font-size: .95rem;
    color: var(--color_dark);
}

#portfolio .card-body .card-body-keys i {
    font-size: .9rem;
    color: var(--color_pink);
}

#portfolio .card-body .card-body-action {
    display: flex;
    justify-content: center;
}

#portfolio .card-body .card-body-action .btn {
    padding: .4rem .7rem;
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: .5rem;
    border: 1px solid var(--color_pink);
    color: var(--color_pink);
}
#portfolio .card-body .card-body-action .btn:hover {
    transform: scale(1.1);
    color: var(--color_grenat_move);
    border-color: var(--color_grenat_move);
}
#portfolio .card-body .card-body-action i {
    font-size: 1.1rem;
    margin-right: .3rem ;
    
}

#portfolio .card-bottom:hover .card-body {
    margin-top: 0;
    top: 20%;
}

#portfolio #project1 {
    /* background-color: #000; */
    background-image: url('https://github.com/zohrahanafi/Portfolio/blob/main/resources/portfolio/Albani%20landing%20page.jpeg?raw=true');
}
#portfolio #project2 {
    /* background-color: #000; */
    background-image: url('https://github.com/zohrahanafi/Portfolio/blob/main/resources/portfolio/flowers%20shop%20website.jpeg?raw=true');
}
#portfolio #project3 {
    /* background-color: #000; */
    background-image: url('https://github.com/zohrahanafi/Portfolio/blob/main/resources/portfolio/travel%20website.jpeg?raw=true');
}

/* resume */
#resume {
    font-family: var(--font_parag);
    line-height: 2rem;
}
.timeline {
    border-left: 1px dashed var(--color_pink);
    margin-left: 20px;
    margin-bottom: 30px;
}

.timeline .timeline-box {
    padding-left: 40px;
    margin-bottom: 30px;
    position: relative;
}

.timeline-icon {
    left: -18px;
    top: 0;
    background-color: var(--color_pink);
    border-radius: 50%;
    position: absolute;
    width: 35px;
    z-index: 1;
    text-align: center;
    line-height: 35px;
}

.timeline-icon i {
    color: var(--color_beige);
}


.timeline a {
    color: var(--color_grenat_move);
}

.timeline .text-info {
    color: var(--color_grenat_move) !important;
    float: right;
}

/* certeficates */

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    /* to give a 3D effect to elements on a web page. It controls the distance between the z-axis of the viewer and the z-axis of the element.*/
}

.slide img {
    width: 100%;
    transition: transform 1s;
}

.slide img:hover {
    transform: translateZ(20px);
}

/* gradient shadaw */
.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba (255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* contact section */
#contact {
    font-family: var(--font-headings);
}

#contact .direct_contact p {
    width: 80%;
    margin-bottom: 10%;
}

#contact .direct_contact i {
    font-size: 3em;
    float: right;
    color: var(--color_pink);
}

#contact .direct_contact h4 {

    color: var(--color_pink);
}



footer {
    background-color: var(--color_grenat_move);
    color: var(--color_beige);
    font-family: var(--font-headings);
}

footer .logo{
   color: var(--color_pink);
   font-family: var(--font_title);
   margin-top: 1rem;
}
footer p{
    font-size: 0.9rem;
}

footer .footer-widget{
    margin-top: 1rem;
}
footer .footer-widget-heading h2{
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
    position: relative;
    color: var(--color_beige);
}
footer .footer-widget-heading h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px; width: 50px;
    background: var(--color_pink);
}
footer .ul{
    float: left;
    background-color: #ccc ;
}
footer .footer-widget-links  li{
    display: inline-block;
    float: left;
    width: 40%;
    margin-bottom: 12px;
    
}
footer .footer-widget-links a {
text-decoration: none;
text-transform: capitalize;
color: #fff;
transition: .3s;
}
footer .footer-widget-links a:hover{
    color: var(--color_pink);
    letter-spacing: 1px;
    box-shadow: none;
}
footer .contact-social ul{
    display: inline-flex;
}
footer .contact-social ul li{
    display: inline-block;
}
footer .contact-social ul li a{
    text-decoration: none;
    border: 1px solid var(--color_beige);
    color: var(--color_beige);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 0 .6rem;
    transition: all 0.4s ease 0s;
}

footer .contact-social ul li a:hover{
color: var(--color_pink);
border: 1px solid var(--color_pink);
}
footer .contact-social ul li i{
    font-size: 1.2rem;
}
footer .copyright-area{
    background: var(--color_dark);
    padding: 1.1rem 0;
}



/* scrollbar */
html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color_pink);
    border-radius: 10px;
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

@keyframes buttonAnimationDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes autoScroll {
    0% {
        background-position: 50% 0;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0;
    }
}

@keyframes up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-.2rem);
    }

    100% {
        transform: translateY(0);
    }
}


/* media  */


@media (max-width: 778px) {
  
    #portfolio .card .card-bottom .read-more p {
        font-size: 1.15rem;
    }

    #portfolio .card .card-bottom .read-more i {
        font-size: 1.3rem;
    }
}
